<h1>Login</h1>
<h2>
  <%= errorMessage %>

</h2>
<form method="post" action="/login">
  <div>
    username: <input type="text" name="username"/>
  </div>
  <div>
    password: <input type="password" name="password"/>
  </div>
  <input type="submit" />
</form>